*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
}
.container{
    height: 600px;
    width: 1000px;
    background-color: aquamarine;
    display: grid;
    margin: auto;
    border: 2px dotted grey;
}
.n1{
    display: flex;
    gap: 10px;
}
.n11, img{
    height: 50px;
    width: 50px;
}
.n111{
padding-top: 17px;
}

.n2{
    display: flex;
    gap: 20px;
    padding-top: 15px;
    margin-right: 10px;
}
.n22{
    font: bold;
}
#n22{
    height: 30px;
    border: 0px;
    width: 120px;
    background-color: #0976a7;
    margin: -3px;
    border-radius: 5px;
    color: aliceblue;
    font-size: medium;
}
nav{
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

.bigdiv{
    height: 545px;
    width: 100%;
    background-color: rgb(109, 164, 212);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.leftdiv{
    background-color: #165e80;

}

.rightdiv{
    background-color: aliceblue;
}

.up{
    padding: 50px;
    color: aliceblue;
    font-family: Calibiri;
    color: rgb(181, 181, 181);

}
#toufiq{
    height: 50px;
    width: 50x;
    border-radius: 50%;
}

.low{
    display: flex;
    padding: 30px;
    gap: 10px;
    color: whitesmoke;
    margin-top: -15px;
    margin-left: 10px;
    
}
#p1{
    color: gray;
}
.p22{
    display: flex;
    gap: 10px;
}
.div1{
    margin-top: 30px;
    display: grid;
    justify-content: center;
}
.div2{
    margin-top: 30px;
    display: grid;
    justify-content: center;
}
.div11, .p22{
    padding: 3px;
    display: flex;
    justify-content: center;
}
#p22{
    text-decoration: underline;
    text-decoration-style: dotted ;
    color: #a8022b;
}
.d22{
    margin-top: 15px;
    display: flex;
    gap: 17px;
}
.inpt1{
    height: 40px;
    width: 300px;
    border: 1.5px solid rgb(118, 118, 118);
}
.inpt2{
    height: 40px;
    width: 140px;
    border: 1.5px solid rgb(118, 118, 118);
}
.uline{
    gap: 3px;
    margin-top: 15px;
    display: flex;
    color: grey;
    font-size: 12px;
}
.ul1, .ul2{
    margin-top: 7px;
    height: 2px;
    width: 140px;
    background-color: rgb(113, 112, 112);
}
/* .rightdiv{
    display: grid;
} */
.div3{
    display: grid;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}
#div33{
    height: 30px;
    width: 220px;
    background-color: #eff1f3;
    padding-left: 80px;
    border: 1.5px solid gray;
}
#div333{
    padding-left: 10px;
    height: 30px;
    width: 303px;
    background-color: #e90606;
}

.rs{
    font-size: 10px;
    margin-top: -0px;
    color: #e90606;
    padding-left: 200px;
    margin-bottom: -15px;
    text-decoration: underline;
    margin-top: 0px;
}

.div4{
    margin-top: 10px;
    display: grid;
    justify-content: center;
    gap: 8px;
}
.div41{
    display: flex;
    font-size: 10px;
    gap: 5px;
    margin-left: 20px;
}
.div412{
    display: flex;
    font-size: 10px;
    gap: 5px;
    margin-left: 5px;
}
#div44{
    text-decoration: underline;
    color: #e90606;

}
.div411{
    color: gray;
    font-size: 10px;
}
.div4422{
    gap: 3px;
    display: flex;
}

.inpt1, .d222{
    text-align: center;
}