*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.mainContainer{
    height: 450px;
    width: 1000px;
    background-color: bisque;
    display: flex;
    gap: 25px;
    margin: 30px auto;
}

.leftContainer{
    height: 450px;
    width: 220px;
    background-color: rgb(29, 64, 139);
    display: grid;
    align-items: center;
}

#lower{
    margin-left: 20px;
    color: aliceblue;
    font-size: 15px;
}
#upper{
    /* margin-left: 15px; */
    color: aliceblue;
    font-size: 20px;
    font-weight: 200;
    height: 45px;
    box-shadow: 10px 20px solid rgb(34, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
background-image: linear-gradient(to right, rgb(56, 56, 230), rgb(94, 94, 238), rgb(71, 71, 237));
}
.mycourse {
    height: 35px;
    border-left: 5px solid white;
    background-color: rgb(127, 142, 255);
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.rightContainer{
    height: 450px;
    width: 755px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1.7fr 4fr 3.3fr;

}

.a{
    background-color:rgb(230, 236, 234) ;
    
}

.b{
    background-color: rgb(230, 236, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.welcome{
    display: flex;
    align-items: center;
    gap: 200px;
}
.welcome1{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}
.welcome2{
    margin-top: 15px;
    height: 35px;
    width: 200px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 20px;
    padding-left: 17px;
    padding-top: 7px;
    box-shadow: 3px 3px 10px gray;
    color: gray;
    font-weight: 100;
}

.bb{
    height: 160px;
    width: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(67, 61, 61);
}

.up{
    height: 100px;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(to right, rgb(199, 53, 53),  rgb(29, 218, 55));
    color: rgb(230, 236, 234);
    padding: 10px;
}

.low{
    background-color: rgn(230, 236, 234) ;
    height: 60px;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}
.l1{
    margin-top: 5px;
    height: 5px;
    width: 180px;
    background-color: green;
    background-image: linear-gradient(to right, red, green, yellow);
    margin-bottom: 10px;
}
.l2{
    margin-top: 5px;
    height: 5px;
    width: 70px;
    background-color: green;
    background-image: linear-gradient(to right, red, green, yellow);
    margin-bottom: 10px;
}
.l3{
    margin-top: 5px;
    height: 5px;
    width: 130px;
    background-color: green;
    background-image: linear-gradient(to right, red, green, yellow);
    margin-bottom: 10px;
}
.pg{
    display: flex;
    gap: 40px;
}

.c{
    background-color: rgb(230, 236, 234);
    
}

.x{
    margin: 10px;
    background-color: rgb(230, 236, 234);
}
.y{
    background-color: rgb(230, 236, 234);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.m{
    height: 100px;
    width: 210px;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    color: aliceblue;
    display: grid;
    align-items: center;
    box-shadow: 5px 5px 10px gray;
    background-image: radial-gradient(rgb(207, 207, 163), rgb(219, 102, 19));

}
.n{
    height: 100px;
    width: 210px;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    color: aliceblue;
    display: grid;
    align-items: center;
    box-shadow: 5px 5px 10px gray;
    background-image: radial-gradient(rgb(228, 228, 53), rgb(59, 29, 249));}
.o{
    height: 100px;
    width: 210px;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    color: aliceblue;
    display: grid;
    align-items: center;
    box-shadow: 5px 5px 10px gray;
    background-image: radial-gradient(rgb(200, 56, 17), rgb(12, 198, 227));}
button{
    height: 20px;
    width: 70px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.xx{
    height: 150px;
    width: 720px;
    background-color: rgb(231, 235, 235);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(65, 65, 65);
    margin-left: 15px;
}