*{
    padding: 0;
    margin: 0;
    font-family: Calibiri;
}

.maincontainer{
    height: 700px;
    width: 900px;
    background-color: bisque;
    margin: auto;
    display: grid;
    grid-template-rows: .5fr 2.3fr 5fr ;
    border: 1px solid green;
}
nav{
    height: 50px;
    width: 100%;
    background-color: rgb(11, 12, 36);
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.n{
    font-size: 35px;
    color: rgb(197, 105, 0);
}
#n1{
    color: rgb(197, 105, 0);
}
.n1{
    color: rgb(183, 179, 179);
    font-size: 12px;
    padding-top: 15px;
}
#n11{
    height: 100%;
    width: 70px;
    background-color: rgb(197, 105, 0);
    margin-top: -15px;
    text-align: center;
}
.ub1{
    border-radius: 7px;
}
.upperbox{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    gap: 7px;
    pad: 5px;
    padding-top: 25px;
}
.lowerbox{
    background-color: rgb(253, 253, 253);
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#logo{
    height: 50px;
    width: 50px;
}
.ub1{
    padding: 10px;
    height: 120px;
    width: 170px;
    background-color: azure;
    border: 1px solid grey;
    box-shadow: 2px 2px 15px gray;
}

#l2, #l3{
    height: 120px;
    width: 110px;
    display: flex;
}
#l1, #l4{
    height: 150px;
    width: 140px;
    display: flex;
    ;
}
#l1{
    padding-left: 50px;
    padding-top: 50px;
}
#l4{
    padding-right: 90px;
    padding-bottom: 65px;
}
#l2{
    padding-right: 50px;
    padding-top: 75px;
}
#l3{
    padding-left: 80px;
    padding-bottom: 90px;
}
.left{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr;
 justify-content: center;
 align-items: center;
 background-color: rgb(253, 253, 253);
}

.right{
    background-color:aliceblue ;
}

.r1{
    color: rgb(219, 85, 14);
    font-style: italic;
    font-size: 24px;
}
.r2{
    color: black;
    font-size: 40px;
}
.r3{
    color: grey;
    width: 70%;
}

.right{
    margin-top: 20px;
    gap: 20px;
    display: grid;
    grid-template-rows: 1fr 1.7fr 3fr 3fr 2fr 2fr;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;
}
.btn{
    display: flex;
    justify-content: space-between;
}
#btn1{
    height: 35px;
    width: 130px;
    border: 0px;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(237, 114, 32);
}
#btn2{
    height: 35px;
    width: 35px;
    margin-right: 20px;
    border: 0px;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(237, 114, 32);
}
.r4{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.line{
    height: 45px;
    width: 3px;
    background-color: orange;
}
.exp, .master{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#e1{
    font-size: 40px;
    color: rgb(255, 119, 0);
}

#e2{
    font-size: 14px;
}