*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.maincontainer{
    height: 600px;
    width: 1100px;
    background-color:antiquewhite ;
    margin: auto;
    
    
}
nav{
    background-color: gray;
    height: 20px;
    display: flex;
    justify-content: space-between;
    width: 1100px;
}
.spanprop{
    font: bold;
    color: rgb(23, 23, 101);
    font-weight: 800;
    font-size: 15px;
    margin-right: 20px;
}
.n2{
    margin-left: 600px;
}
.n1{
    margin-left: 20px;
}

.leftcontainer{
    height: 530px;
    width: 300px;
    background-color: rgb(72, 134, 188);
    background-image: linear-gradient(to bottom, rgb(96, 158, 210),rgb(123, 197, 180), rgb(94, 113, 210));
    gap: 10px;
}
.rightcontainer{
    height: 530px;
    width: 900px;
    background-color:rgb(223, 241, 235) ;
    

}
.container{
    display: flex;
}
.foot{
    height: 40px;
    width: 1100px;
    background-image: linear-gradient(to right, red, green, white);
    color: antiquewhite;
    font-family: Calibiri;
    
    font-weight: 400;
    padding-left: 300px;
    padding-top: 10px;
}
.d1{
    margin-top: 10px;
    padding-left: 20px ;
    font-size: large;
    font-family: sans-serif;
    color: rgb(42, 42, 42);
}
.d2{
    margin-left: 20px;
    height: 30px;
    width: 240px;
    background-color: rgb(176, 240, 219);
    margin-top: 20px;
    border-radius: 7px;
    padding: 5px;
    color: rgb(99, 98, 98);
}


.d3{
    margin-top: 20px;
    height: 130px;
    width: 240px;
    margin-left: 20px;
    padding: 5px;
    background-color: antiquewhite;
    gap: 10px;
    border-radius: 5px;
}

.d33{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    background-image: linear-gradient(to right, rgb(53, 56, 151), rgb(186, 237, 57));
    padding: 5px;
    border-radius: 10px;
}
h4{
    color: blue;
}

.upper{
    width: 100%;
    height: 140px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 5px 10px gray;
}
table{
    margin-top: 12px;
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    border-collapse: collapse;
    border-color: rgb(209, 209, 209);
    color: rgb(46, 45, 45);
}
td, th{
    background-image: linear-gradient(to right, rgb(240, 121, 17), white);
    border-radius: 2px;
    padding: 5px;
}

.lower{
    margin-top: 20px;
    width: 100%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 5px 10px gray;
}

.sf{
    color: rgb(14, 14, 118);
    font-size: large;
    padding: 5px;
}
.fvalue{
    padding: 3px;
    color: rgb(46, 46, 46);
    font-weight: 400;
    margin-left: 5px;
}
.finput{
    padding: 7px;
    width: 500px;
}
input{
    width: 800px;
    height: 30px;
}
 button{
    margin-top: 2px;
    height: 25px;
    width: 70px;
    margin-left: 5px;
    background-image: linear-gradient(to right, blue, yellow);
    border-radius: 5px;
}