.container{
    height: 550px;
    width: 1000px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 2px dotted grey;
}

nav{
    display: flex;
    height: 30px;
    width: 1000px;
    background-color: white;
    justify-content: space-between;
}
.n1{
    padding: 3px;
    font-size: large;
    display: flex;
    gap: 10px;
    font: bold;
    font-weight: 700;
}
#redn11{
    color: red;
}
.n2{
    padding: 3px;
    display: flex;
    gap: 20px;
}
#redbtn{
    height: 20px;
    width: 80px;
    background-color: red;
    border: 0px #ff4419;
}

.nav2{
    height: 25px;
    width: 992px;
    background-color: aliceblue;
    display: flex;
    gap: 15px;
    padding: 4px;
}
.div1{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.sp{
    text-decoration: underline;
    text-decoration-style: dotted;
}

.div2{
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: -15px;
}

.bigdiv{
    height: 340px;
    width: 100%;
    background-color:rgb(216, 216, 216) ;
}

.box{
    height: 170px;
    width: 170px;
    background-color: rgb(249, 249, 249);
    box-shadow: 10px 10px 0px black;
}
.b1{
    color: blue;
    font-size: 10px;
    font: bold;
    font-weight: 600;
    padding: 15px;
}
.b2{
    color: black;
    font-size: 40px;
    font-weight: 900;
    padding-left: 15px
}
.b3{
    height: 30px;
    width: 100px;
    background-color: #1d78f0;
    margin: 15px;
}
#b3{
    background-color: #1d78f0 ;
    border: 0;
    padding: 7px;
}
.b4{
    font-size: 10px;
    padding-left: 15px;
    margin-top: -8px;
}
.div3{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.div4{
    height: 50px;
    width: 100%;
    background-color: #ff4419;
    display: contents;
    justify-content: center;
    margin: 50x;
}
.d1{
    display: flex;
    justify-content: center;
}
.d2{
    color: gray;
    display: flex;
    justify-content: center;
    font-size: medium;
    margin-top: -15px;
}
.d3{
    color: #1d78f0;
    display: flex;
    justify-content: center;
    font-size: medium;
    margin-top: 5px;
    text-decoration: underline;
    text-decoration-style: dotted ;

}