*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

.maincontainer{
    height: 550px;
    width: 1000px;
    background-color: antiquewhite;
    margin: 20px auto;
}

nav{
    height: 30px;
    width: 100%;
    background-color: rgb(168, 167, 167);
    display: flex;
    justify-content: space-between;
    color: rgb(33, 33, 89);
}

.leftnav{
    display: flex;
    padding-left: 15px;
    gap: 10px;
    padding-top: 3px;
    font-weight: 700;
}
.rightnav{
    display: flex;
    padding-right: 15px;
    gap: 15px;
    padding-top: 3px;
    font-weight: 700;
}

.middle{
    height: 465px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
}
.left{
    height: 465px;
    width: 35%;
    padding-left: 20px;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, rgb(73, 236, 182), rgb(129, 129, 206));
    border-radius: 5px;
}
.right{
    height: 465px;
    width: 65%;
    background-color: rgb(215, 213, 213);

}
.d1{
    font-size: 25px;
    font-weight: 700;
    padding-left: 10px;

}
.d22{
    padding-top: 10px;
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}
.d2{
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 3px;
    height: 30px;
    width: 300px;
    background-color: rgb(156, 222, 200);
}
.d3{
    height: 165px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(250, 245, 239);
    box-shadow: 2px 2px 10px grey;
}
.d31{
    padding: 7px;
    font-size: 18px;
    color: rgb(33, 33, 71);
    font-weight: 600;
}
.d32{
    padding: 7px;
    color: rgb(79, 76, 76);
}
#d33{
    margin-top: 7px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 15px;
    height: 30px;
    width: 100px;
    background-image: linear-gradient(to right, blue, rgb(238, 247, 71));
}

footer{
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right, orange, green, grey);
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cr{
    padding: 10px;
    font-size: 22px;
    font-weight: 700;
    color: rgb(50, 50, 105);
}
.upper{
    margin-left: 10px;
    width: 98%;
    height: 130px;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgb(189, 182, 182);
    background-color: rgb(232, 233, 233);
}

table{
    border-collapse: collapse;
    width: 95%;
    padding: 5px;
    font-weight: 400;
    margin-left: 15px;
}
th, td{
    height: 20px;
    background-image: linear-gradient(to right, rgb(252, 125, 7), white);
    border: 1px solid grey;
}

.lower{
    height: 310px;
    width: 98%;
    background-color: rgb(232, 235, 234);
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px grey;
}

.sf{
    padding: 7px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(56, 56, 105);
}

.a{
    padding: 5px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
    color: rgb(30, 30, 30);
}
#b{
    margin-left: 10px;
padding: 4px;    width: 95%;
border: 1px solid grey;
border-radius: 5px;
}

#c{
    margin-top: 5px;
    margin-left: 10px;
    height: 30px;
    width: 80px;
    background-image: linear-gradient(to right, blue, yellow);
    border: 1px solid grey;
    border-radius: 5px;
}